<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jade.dao.DriverFlowDayMapper">

    <select id="getInfoByDriverCodeAndTime" resultType="java.util.Map">
        select concat(d.drivercode,d.date) as drivercodedate, d.* from driverflowday d
        where concat(d.drivercode,d.date) in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>